version: "3.8"

services:
  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo        # change en prod
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U odoo"]
      interval: 10s
      timeout: 5s
      retries: 5

  odoo:
    image: odoo:19.0
    container_name: odoo-app
    depends_on:
      db:
        condition: service_healthy
        restart: unless-stopped
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
      - DB_NAME=postgres
    volumes:
      - odoo-web-data:/var/lib/odoo        # filestore & sessions
      - ./addons:/mnt/extra-addons         # optional : modules locaux
    # if you want to provide a config file, mount ./config:/etc/odoo and add command: odoo -c /etc/odoo/odoo.conf

volumes:
  odoo-db-data:
  odoo-web-data: